*{
   padding: 0;
   margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    padding: 2rem;
}


header{
    display: flex;
    flex: 1 1 auto;
    background-color: lightblue;
    padding: 1rem;
    
}

.header-logo-container{
    height: 3rem;
    width: 3rem;
}

.header-logo{
    width: 100%;
    height: 100%;
}

.selected-deals-container{
    display: flex;
    gap: 1rem;
}

.product-card{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
    overflow: clip;
    flex: 1 1 0;
    width: 0;
}

.product-card-image{
    height: 25rem;
    object-fit: cover;
}

.product-card-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.75rem;
}

.product-card-split{
    display: flex;
}

.product-card-left{
    width: 100%;
}

.product-card-right{
    display: flex;
    gap: 0.5rem;
}

.product-card-decrease-button, .product-card-increase-button{
    padding: 0.25rem 1.5rem;
    background-color: darkslategray;
    color: aliceblue;
    border: none;
    border-radius: 0.5rem;
}